version: "3.9"
services:
  gatus:
    image: twinproduction/gatus:v5.7.0
    restart: always
    ports:
      - 8080:8080
    volumes:
      - ./config:/config
  nginx:
    image: nginx:1.25.3
    ports:
      # Expose Ports 80 (HTTP) and 443 (HTTPS)
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/letsencrypt/:ro
  certbot:
    image: certbot/certbot:v2.8.0
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw